<div ng-controller="AddController" >

	<div class="sidebar_nav">
		<div class="red_head">
			Help Someone!
		</div>

		<ul class="nav_buttons">
			<a href="#/all"><li><img src="../images/icon_all.png" height="17" width="17">All Non-Profit</li></a>
			<a href="#/add"><li><img src="../images/icon_plus.png" height="17" width="17">Add Non-Profit</li></a>
			<a href="#/urgent"><li><img src="../images/icon_urgent.png" height="17" width="17">Urgent Message</li></a>
			<a href="#/"><li><img src="../images/icon_out.png" height="17" width="17">Log Out</li></a>
		</ul>

	</div>

	<div class="dash_background">
	
		<div class="content_box">
			<h4>All Non Profits</h4>

			<div class="one_org" ng-repeat="organization in organizations">
				<img src="../images/result_1.jpg" >
				<div class="non-profit-content">
					
					
					<div class="title" >
						<h3 ng-bind="organization.name"></h3>
						<a href="" class="text_button_delete" ng-click="removeOrg(organization)" ng-hide="editorEnabled[$index]">Delete</a>
						<a href="" class="text_button_edit" ng-click="enableEditor(organization, $index)" ng-hide="editorEnabled[$index]">Edit</a>
					</div>
					<div class="edit_form" ng-show="editorEnabled[$index]">
						<div id="errors_box" ng-repeat="i in errors">
							<h4 ng-bind="i" ></h4>
						</div>
						<form>
							
	     					<input ng-model="editorCause">
	     					<input ng-model="editorCountry" >
	     					<textarea  ng-model="editorDescription"></textarea>
	     					<input ng-model="editorUrl">
	     					<input type="file" ng-model="editorImage" name="userPhoto" />
	     					<input type="submit"  ng-click="save(editorCause, editorCountry, editorDescription, editorUrl, organization._id, editorImage, $index)" value="Save">
						</form>

     
      					<a href="" ng-click="disableEditor()" style="color: #dd3928">Cancel</a>

      					
    				</div>
					<div class="left" ng-hide="editorEnabled[$index]">
						<p><strong>Cause: </strong><span  ng-bind="organization.cause"></span><br/><strong>Country: </strong><span ng-bind="organization.country"></span><br /><strong>Url: </strong><span ng-bind="organization.url"></span></p>


					</div>
					
					<div class="right" ng-hide="editorEnabled[$index]">
						<p ng-bind="organization.description">Our mission is to bring clean and safe drinking water to every person in the world. 
						<br/></p>
						

					</div>
				</div>
				
			</div>

		</div>
	</div>
</div>