<div ng-controller="AddController" >

	<div class="sidebar_nav">
		<div class="red_head">
			Help Someone!
		</div>

		<ul class="nav_buttons">
			<a href="#/all"><li><img src="../images/icon_all.png" height="17" width="17">All Non-Profit</li></a>
			<a href="#/add"><li><img src="../images/icon_plus.png" height="17" width="17">Add Non-Profit</li></a>
			<a href="#/urgent"><li><img src="../images/icon_urgent.png" height="17" width="17">Urgent Message</li></a>
			<a href="#/logout"><li><img src="../images/icon_out.png" height="17" width="17">Log Out</li></a>
		</ul>

	</div>

	<div class="dash_background">
	
		<div class="content_box">
			<h4>Edit Charity Water</h4>

			<form >
				<input type="text" placeholder="NonProfit Name" name="email">
				<input type="text" placeholder="Cause they help" name="password">
				<input type="text" placeholder="Country they help" name="password">
				<input type="text" placeholder="Website Url" name="password">
				<textarea placeholder="About NonProfit"></textarea>

				<input type="submit" value="Login">

			</form>
		</div>
	</div>
</div>