<div class="background_red_strong"  ng-controller="ResultsController" >
	<a class="text_button_back" href="#/country">&#x2190; Back to Countries</a>
	<div class="body-width">

		<h2>People doing something about <span class="cause" ng-bind="cause"></span> in <span class="country" ng-bind="country"></span>.</h2>


		<div class="results" >
			
			<div class="non-profits" ng-repeat="result in results | orderBy: name">
				<img src="../images/result_1.jpg" >

				<h3 ng-bind="result.name"></h3>

				<p ng-bind="result.description">Our mission is to bring clean and safe drinking water to every person in the world. </p>

				<a class="text_button" target="_blank" ng-href="{{ result.url }}">Go to Site</a>
			</div>

			

		</div>
	
	</div>

	<div id="footer" >
		
		<div class="content_footer">
			
			<div class="alert_message" >

				<img src="../images/urgent_footer.png" height="50" width="50" >
				<h2>Urgent Relief Needed</h2>

				<span class="box"><p ng-bind="alerts[0].alert_message">Japan just got hit with a huge Tsunami, leaving 8 million people with out water or electricity. </p> <a target="_blank" ng-href="{{ alerts[0].alert_url }}" >Help out here</a></span>
			</div>
		</div>

		<a class="signup_footer"  data-toggle="modal" data-target="#myModal" href="">
			<img src="../images/phone_urgent.png">
			<h4>Get Relief Alerts</h4>
		</a>
	</div>
<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="phone_form">

					<h4>Add Phone Number</h4>

					<div id="errors_box" ng-repeat="i in errors">
						<h4 ng-bind="i" ></h4>
					</div>

					<input type="text" ng-model="new_phone.number"  placeholder="Phone Number" name="phone">
					<input type="submit" ng-click="addNumber()" data-dismiss="modal" value="Add Number">
				</div>

			</div>
		</div>
	</div>

</div>