<video autoplay loop  id="bgvid">

    <source src="https://www.charitywater.org/september/15/videos/intro-placeholder.mp4" type="video/mp4">
</video>

<div class="background_red" ng-controller="AddController" >
	<a class="text_button_back">&nbsp;</a>
	<div class="phone_form">

		<h4>Add Phone Number</h4>

		<div id="errors_box" ng-repeat="i in errors">
			<h4 ng-bind="i" ></h4>
		</div>

		<input type="text" ng-model="new_phone.number"  placeholder="Phone Number" name="phone">
		<input type="submit" ng-click="addNumber()" value="Add Number">
	</div>

</div>